.popup__error {
    font-size: 12px;
    line-height: 14px;
    color: #FF0000;
    border-top: 1px solid #FF0000;
    margin-bottom: -20px;
    padding-top: 5px;
    box-sizing: border-box;
    height: 25px;
    display: none;
}