.profile__description {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    max-width: 528px;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 1050px) {
    .profile__description {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}