.element__trash {
    position: absolute;
    margin-top: 20px;
    margin-left: 244px;
    width: 18px;
    height: 19px;
    background-image: url(../../../images/trash.svg);
    border: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}

.element__trash:hover {
    opacity: 0.6;
}